body {
    background-color: gainsboro;
    text-align: center;
    font-size: large;
    font-style: normal;
    font-family: sans-serif;
    margin:auto;
    padding: auto;
    width: auto;
    border: auto;
    border-color: midnightblue;
    position: relative;
  }
